#gallery{
    background-color:#000;
    overflow: hidden;
    height:320%;
}

#gallery .heading{
    position: absolute;
    Font-size:70px;
    text-align:center;
    top: 2.5%;
    font-family: 'Righteous', cursive;
    color:#fb6e14;
    transition: all 1.5s ease;
    opacity: 0;
    transform: translateY(-40px);
    transition: all 1.5s ease;
}

/* Containers  */

#gallery #proem{
    opacity: 1;
    transform: translateY(0px);
    color: #ffff;
    font-size: 60px;
    position: relative;
    margin:310px auto;
}

.container{
    position: relative;
    margin:470px auto;
    width:80%;
    overflow: hidden;
}

#gallery #frosh{
    opacity: 1;
    transform: translateY(0px);
    color: #fff;
    font-size: 60px;
    position: relative;
    margin:1320px auto;
}

.container2{
    position: relative;
    margin:1470px auto;
    width:78%;
    overflow: hidden;
}

/* Text */

#gallery .txt{
    position: absolute;
    width:60%;
    text-align: center;
    font-size: 20px;
    font-family: 'Hind Madurai', sans-serif;
    top:7%;
    margin-top:0px;
    color:#fff;
    opacity: 0;
    transform: translateX(50px);
    transition: all 1s ease;
}
#gallery .txt p{
margin-bottom: 30px;
}

@media only screen and (max-width: 1400px) {

    #gallery{
        
    }

    #gallery .heading{
        Font-size:65px;
        top: 3%;
    }
    
    #gallery .txt{
        Font-size:18px;
        top: 9%;
    }
    #gallery #proem{
        font-size: 60px;
        margin:330px auto;
    }
    
    .container{
        margin:510px auto;
        width:80%;
    }
    
    #gallery #frosh{
        font-size: 60px;
        margin:1240px auto;
    }
    
    .container2{
        margin:1390px auto;
        width:78%;
    }

  }

  @media only screen and (max-width: 1200px) {


    #gallery .txt p{
        margin-bottom: 10px;
        }

    #gallery{
        height: 270%;
    }

    #gallery .heading{
        Font-size:50px;
        top: 3%;
    }
    
    #gallery .txt{
        Font-size:20px;
        top: 8%;
        width:70%;
    }
    #gallery #proem{
        font-size: 48px;
        margin:280px auto;
    }
    
    .container{
        margin:460px auto;
        width:80%;
    }
    
    #gallery #frosh{
        font-size: 48px;
        margin:1090px auto;
    }
    
    .container2{
        margin:1240px auto;
        width:78%;
    }

  }

  @media only screen and (max-width: 1000px) {


    #gallery .txt p{
        margin-bottom: 10px;
        }

    #gallery{
        height: 240%;
    }

    #gallery .heading{
        Font-size:50px;
        top: 3%;
    }
    
    #gallery .txt{
        Font-size:18px;
        top: 9%;
        width: 80%;
    }
    #gallery #proem{
        font-size: 45px;
        margin:290px auto;
    }
    
    .container{
        margin:440px auto;
        width:80%;
    }
    
    #gallery #frosh{
        font-size: 45px;
        margin:940px auto;
    }
    
    .container2{
        margin:1060px auto;
        width:78%;
    }

  }

  @media only screen and (max-width: 750px) {

    #gallery .txt p{
        margin-bottom: 10px;
    }
    
    #gallery .txt{
        Font-size:17px;
        top: 11%;
        width:80%;
    }

    #gallery{
        height: 200%;
    }

    #gallery .heading{
        Font-size:50px;
        top: 3%;
    }
    
    #gallery #proem{
        font-size: 45px;
        margin:290px auto;
    }
    
    .container{
        margin:440px auto;
        width:80%;
    }
    
    #gallery #frosh{
        font-size: 45px;
        margin:840px auto;
    }
    
    .container2{
        margin:930px auto;
        width:78%;
    }

  }

  @media only screen and (max-width: 600px) {

    #gallery .txt p{
        margin-bottom: 10px;
    }
    
    #gallery .txt{
        Font-size:17px;
        top: 11%;
        width:80%;
    }

    #gallery{
        height: 170%;
    }

    #gallery .heading{
        Font-size:50px;
        top: 3%;
    }
    
    #gallery #proem{
        font-size: 40px;
        margin:300px auto;
    }
    
    .container{
        margin:420px auto;
        width:80%;
    }
    
    #gallery #frosh{
        font-size: 40px;
        margin:730px auto;
    }
    
    .container2{
        margin:820px auto;
        width:78%;
    }
}

  @media only screen and (max-width: 450px) {
  
    #gallery .txt p{
        margin-bottom: 14px;
    }
    
    #gallery .txt{
        Font-size:14px;
        top: 13%;
        width:80%;
    }

    #gallery{
        height: 130%;
    }

    #gallery .heading{
        Font-size:45px;
        top: 5%;
    }
    
    #gallery #proem{
        font-size: 30px;
        margin:250px auto;
    }
    
    .container{
        margin:370px auto;
        width:80%;
    }
    
    #gallery #frosh{
        font-size: 30px;
        margin:550px auto;
    }
    
    .container2{
        margin:630px auto;
        width:78%;
    }

}

@media only screen and (max-width: 380px) {
  
    #gallery .txt p{
        margin-bottom: 14px;
    }
    
    #gallery .txt{
        Font-size:13px;
        top: 14%;
        width:80%;
    }

    #gallery{
        height: 140%;
    }

    #gallery .heading{
        Font-size:40px;
        top: 6%;
    }
    
    #gallery #proem{
        font-size: 30px;
        margin:250px auto;
    }
    
    .container{
        margin:370px auto;
        width:80%;
    }
    
    #gallery #frosh{
        font-size: 30px;
        margin:520px auto;
    }
    
    .container2{
        margin:600px auto;
        width:78%;
    }

}