body{
    overflow-x: hidden;
}

html,body{
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
    background-color: #000;
    user-select: none;
}

#void{
  height:100%;
  width:100%;
}
.content{
  position: relative;
  top:2%;
  height:100%;
  width:100%;
  z-index: 4;
  margin:0 auto;
  background-color: white;
}
